<h1>Hello, <%= @student.fullname %></h1>
<h2>Open Timeslots</h2>

<ul id="paired-list">
  <% if @paired_timeslots != nil %>
    <% @paired_timeslots.each do |timeslot| %>
      <li class="timeslot">
          <%= timeslot.initiator.fullname %> is pairing with <%= timeslot.acceptor.fullname %> at <%= timeslot_string(timeslot) %>.
          <%= button_to 'Cancel',
            cancel_challenge_timeslot_path(timeslot.challenge_id, timeslot.id),
            method: :post,
            data: { confirm: 'Are you sure?' },
            class: "btn btn-danger" %>
      </li>
    <% end %>
  <% end %>
</ul>

<h2>You are available to pair at:</h2>

<ul id="unpaired-list">
  <% if @unpaired_timeslots != nil %>
    <% @unpaired_timeslots.each do |timeslot| %>
      <li class="timeslot">
        <%= timeslot_string(timeslot) %>
        <%= button_to 'Delete',
          challenge_timeslot_path(timeslot.challenge_id, timeslot.id),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: "btn btn-warning" %>
      </li>
    <% end %>
  <% end %>
</ul>
