<h1><%= @challenge.name %></h1>
<a class="btn btn-success" href='/challenges/<%= @challenge.id %>/timeslots/new'><span class="glyphicon glyphicon-plus"></span> Create</a>
<br>
<br>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Monday" aria-controls="Monday" role="tab" data-toggle="tab">Monday</a></li>
    <li role="presentation"><a href="#Tuesday" aria-controls="Tuesday" role="tab" data-toggle="tab">Tuesday</a></li>
    <li role="presentation"><a href="#Wednesday" aria-controls="Wednesday" role="tab" data-toggle="tab">Wednesday</a></li>
    <li role="presentation"><a href="#Thursday" aria-controls="Thursday" role="tab" data-toggle="tab">Thursday</a></li>
    <li role="presentation"><a href="#Friday" aria-controls="Friday" role="tab" data-toggle="tab">Friday</a></li>
    <li role="presentation"><a href="#Saturday" aria-controls="Saturday" role="tab" data-toggle="tab">Saturday</a></li>
    <li role="presentation"><a href="#Sunday" aria-controls="Sunday" role="tab" data-toggle="tab">Sunday</a></li>
  </ul>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="Monday">
      <ul class="timeslots-list">
        <% if @soon_timeslots[:Monday] != nil %>
          <% @soon_timeslots[:Monday].each do |timeslot| %>
              <li class="timeslot">
                <a class="btn btn-warning soon" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
                <span class="soon-warning">! Starts soon</span>
              </li>
          <% end %>
        <% end %>
        <% if @not_soon_timeslots != nil %>
          <% @not_soon_timeslots[:Monday].each do |timeslot| %>
              <li class="timeslot">
                <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
              </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane" id="Tuesday">
      <ul class="timeslots-list">
        <% if @soon_timeslots[:Tuesday] != nil %>
          <% @soon_timeslots[:Tuesday].each do |timeslot| %>
              <li class="timeslot">
                <a class="btn btn-warning soon" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
                <span class="soon-warning">! Starts soon</span>
              </li>
          <% end %>
        <% end %>
        <% if @not_soon_timeslots != nil %>
          <% @not_soon_timeslots[:Tuesday].each do |timeslot| %>
            <li class="timeslot">
              <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane" id="Wednesday">
      <ul class="timeslots-list">
        <% if @soon_timeslots[:Wednesday] != nil %>
          <% @soon_timeslots[:Wednesday].each do |timeslot| %>
              <li class="timeslot">
                <a class="btn btn-warning soon" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
                <span class="soon-warning">! Starts soon</span>
              </li>
          <% end %>
        <% end %>

        <% if @not_soon_timeslots != nil %>
          <% @not_soon_timeslots[:Wednesday].each do |timeslot| %>
            <li class="timeslot">
              <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane" id="Thursday">
      <ul class="timeslots-list">
        <% if @soon_timeslots[:Thursday] != nil %>
          <% @soon_timeslots[:Thursday].each do |timeslot| %>
              <li class="timeslot">
                <a class="btn btn-warning soon" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
                <span class="soon-warning">! Starts soon</span>
              </li>
          <% end %>
        <% end %>

        <% if @not_soon_timeslots != nil %>
          <% @not_soon_timeslots[:Thursday].each do |timeslot| %>
            <li class="timeslot">
              <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane" id="Friday">
      <ul class="timeslots-list">
        <% if @soon_timeslots[:Friday] != nil %>
          <% @soon_timeslots[:Friday].each do |timeslot| %>
              <li class="timeslot">
                <a class="btn btn-warning soon" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
                <span class="soon-warning">! Starts soon</span>
              </li>
          <% end %>
        <% end %>

        <% if @not_soon_timeslots != nil %>
          <% @not_soon_timeslots[:Friday].each do |timeslot| %>
            <li class="timeslot">
              <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane" id="Saturday">
      <ul class="timeslots-list">
        <% if @soon_timeslots[:Saturday] != nil %>
          <% @soon_timeslots[:Saturday].each do |timeslot| %>
              <li class="timeslot">
                <a class="btn btn-warning soon" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
                <span class="soon-warning">! Starts soon</span>
              </li>
          <% end %>
        <% end %>

        <% if @not_soon_timeslots != nil %>
          <% @not_soon_timeslots[:Saturday].each do |timeslot| %>
            <li class="timeslot">
              <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane" id="Sunday">
      <ul class="timeslots-list">
        <% if @soon_timeslots[:Sunday] != nil %>
          <% @soon_timeslots[:Sunday].each do |timeslot| %>
              <li class="timeslot">
                <a class="btn btn-warning soon" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
                <span class="soon-warning">! Starts soon</span>
              </li>
          <% end %>
        <% end %>

        <% if @not_soon_timeslots != nil %>
          <% @not_soon_timeslots[:Sunday].each do |timeslot| %>
            <li class="timeslot">
              <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot_string(timeslot)%></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

</div>
