<h1><%= @challenge.name %></h1>
<a class="btn btn-success" href='/challenges/<%= @challenge.id %>/timeslots/new'><span class="glyphicon glyphicon-plus"></span> Create</a>
<br>
<br>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Monday" aria-controls="Monday" role="tab" data-toggle="tab">Monday</a></li>
    <li role="presentation"><a href="#Tuesday" aria-controls="Tuesday" role="tab" data-toggle="tab">Tuesday</a></li>
    <li role="presentation"><a href="#Wednesday" aria-controls="Wednesday" role="tab" data-toggle="tab">Wednesday</a></li>
    <li role="presentation"><a href="#Thursday" aria-controls="Thursday" role="tab" data-toggle="tab">Thursday</a></li>
    <li role="presentation"><a href="#Friday" aria-controls="Friday" role="tab" data-toggle="tab">Friday</a></li>
    <li role="presentation"><a href="#Saturday" aria-controls="Saturday" role="tab" data-toggle="tab">Saturday</a></li>
    <li role="presentation"><a href="#Sunday" aria-controls="Sunday" role="tab" data-toggle="tab">Sunday</a></li>
  </ul>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="Monday">
      <ul class="timeslots-list">
        <% if @timeslots != nil %>
          <% @timeslots[:Monday].each do |timeslot| %>
            <% if timeslot.start_at.to_date >= DateTime.now.to_date %>
              <li class="timeslot">
                <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot.start_at.strftime("%Y %b %d %l:%M %P") + " - " + timeslot.end_at.strftime("%l:%M %P")%></a>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane" id="Tuesday">
      <ul class="timeslots-list">
        <% if @timeslots != nil %>
          <% @timeslots[:Tuesday].each do |timeslot| %>
            <li class="timeslot">
              <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot.start_at.strftime("%Y %b %d  %l:%M %P") + " - " + timeslot.end_at.strftime("%l:%M %P")%></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="Wednesday">
      <ul class="timeslots-list">
        <% if @timeslots != nil %>
          <% @timeslots[:Wednesday].each do |timeslot| %>
            <li class="timeslot">
              <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot.start_at.strftime("%Y %b %d  %l:%M %P") + " - " + timeslot.end_at.strftime("%l:%M %P")%></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="Thursday">
      <ul class="timeslots-list">
        <% if @timeslots != nil %>
          <% @timeslots[:Thursday].each do |timeslot| %>
            <li class="timeslot">
              <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot.start_at.strftime("%Y %b %d  %l:%M %P") + " - " + timeslot.end_at.strftime("%l:%M %P")%></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="Friday">
      <ul class="timeslots-list">
        <% if @timeslots != nil %>
          <% @timeslots[:Friday].each do |timeslot| %>
            <li class="timeslot">
              <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot.start_at.strftime("%Y %b %d  %l:%M %P") + " - " + timeslot.end_at.strftime("%l:%M %P")%></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="Saturday">
      <ul class="timeslots-list">
        <% if @timeslots != nil %>
          <% @timeslots[:Saturday].each do |timeslot| %>
            <li class="timeslot">
              <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot.start_at.strftime("%Y %b %d  %l:%M %P") + " - " + timeslot.end_at.strftime("%l:%M %P")%></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="Sunday">
      <ul class="timeslots-list">
        <% if @timeslots != nil %>
          <% @timeslots[:Sunday].each do |timeslot| %>
            <li class="timeslot">
              <a class="btn btn-primary" href="/challenges/<%=timeslot.challenge_id%>/timeslots/<%= timeslot.id %>"><%= timeslot.start_at.strftime("%Y %b %d  %l:%M %P") + " - " + timeslot.end_at.strftime("%l:%M %P")%></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

</div>
