<!DOCTYPE html>
<html>
  <head>
    <title>PairBooked <%= @page_title.blank? ? '' : " - #{@page_title}"  %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <nav class="navbar navbar-default navbar-fixed-side">
            <!-- normal collapsible navbar markup -->
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div>
                  <%= image_tag "logo.png", :class =>"logo" %>
                </div>
                <a class="navbar-brand" id="brand" href="#">pairBook</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="nav-link"><a href="/dashboard">Dashboard</a></li>
                  <li class="nav-link"><a href="/challenges">Challenges</a></li>
                  <% if current_student.present?%>
                    <li class="nav-link"><a href="/logout">Log Out</a></li>
                    <li class="nav-form">
                      <%= form_for :timezone, :url => timezone_path do |f| %>
                        <%= f.label :time_zone %>
                        <div class="row" id="timezone-form">
                          <div class="col-lg-8">
                          <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, class: "form-control form-control-sm" %>
                          </div>
                          <div class="col-lg-4">
                          <%= f.submit "Update", class: "btn btn-info" %>
                          </div>
                        </div>
                      <% end %>
                    </li>
                    <li class="nav-form">
                      <% unless current_student.slack_name.present? %>
                        <%= form_for :slack_name, :url => slack_name_path do |f| %>
                          <%= f.label :slack_name %>
                          <div class="row" id="timezone-form">
                            <div class="col-lg-8">
                            <%= f.text_field :slack_name, class: "form-control form-control-sm" %>
                            </div>
                            <div class="col-lg-4">
                            <%= f.submit "Update", method: "post", class: "btn btn-info" %>
                            </div>
                        <% end %>
                      <% else %>
                        <span>Your current Slack Username is <%= current_student.slack_name %>.</span>
                        <button id="slack-edit-button btn btn-info">Click to update</button>
                        <%= form_for :slack_name, :url => slack_name_path, method: "post", class: "hidden" do |f| %>
                          <%= f.submit "Update Slack username", class: "btn btn-info" %>
                          <%= f.label :slack_name %>
                          <%= f.text_field :slack_name %>
                        <% end %>
                      <% end %>
                    </li>
                  <%end%>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
          <!-- page content -->
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
